@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.top {
    min-height: 768px;
    background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);

}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.top_box {
    display: flex;
    flex-direction: column;
    height: 100%;

}

.top_menu {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding-top: 42px;
}

.top_text {
    padding-top: 115px;
    background-image: url(../img/illustration.png);
    background-repeat: no-repeat;
    background-position: right center;
    flex-grow: 1;
    padding-bottom: 190px;
    box-sizing: border-box;
}

.top_link {
    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    padding: 15px 50px;
    margin-top: 71px;
    display: inline-block;
    text-decoration: none;
}

.header_contacts {
    background-image: url(../img/Header_contacts.png);
    min-height: 250px;
    background-position: center;
    background-size: cover;
    margin-top: 54px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 57px;
}

.contacts_container {
    max-width: 940px;
    margin: 0 auto;
}

.what-we-do {
    padding-top: 64px;
}

.content {
    display: flex;
    justify-content: space-between;
    padding-top: 64px;
}

.card {
    max-width: 359px;
    padding: 40px 30px;
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.card_2 {
    background-image: url(../img/Group_2_back.svg);
    background-repeat: no-repeat;
    background-position: top center;
}

.arrow {
    margin-left: 24px;
    width: 14px;
    height: 14px;
}

.content_link {
    text-decoration: none;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #5A98D0;
    margin-top: 30px;
}

.ul_phone,
.un_link {
    list-style-position: inside;
}

.footer {
    background: #316099;
    padding-top: 91px;
    margin-top: 112px;
    padding-bottom: 64px;
}

.footer_top_main {
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.footer_top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 96px;
    align-items: center;
}


.footer_text {
    max-width: 495px;
    text-align: left;
}

.footer_href {
    background: #5A98D0;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    padding: 15px 81px;
    text-decoration: none;
}



.form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 96px;
}

.business_card {
    max-width: 300px;
}

.img_contacts {
    padding-bottom: 16px;
}

.footer_list {
    margin-top: 64px;
    display: flex;
    justify-content: space-between;
}

.li {
    display: flex;
    flex-grow: 1;
    flex-basis: 33.333%;
    list-style-type: none;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    margin-right: 32px;
}

.li:first-child::before {
    content: 'A.';
    display: block;
    margin-right: 19px;
}

.li:nth-child(2)::before {
    content: 'T.';
    display: block;
    margin-right: 19px;
}

.li:last-child::before {
    content: 'E.';
    display: block;
    margin-right: 19px;
}

.li_text {
    padding-right: 80px;
}

.p_right {
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    opacity: 0.4;
    margin-top: 64px;
}

.Our_Project {
    text-align: center;
    padding-top: 64px;
    margin-bottom: 112px;
}

.frame {
    height: 480px;
}


.p,
.h1,
.h4 {
    color: #1F3F68;
}

.p,
.button,
.top_link {
    font-size: 16px;
    line-height: 26px;
}

.p {
    letter-spacing: 0.05em;
    opacity: 0.6;
}

.p_project {
    margin: 32px auto 64px;
    max-width: 750px;
    color: #222222;
    opacity: 1;
}

.project_item {
    position: relative;
}

.project_img {
    width: 100%;
}

.project_img_left {
    margin-right: 32px;
}

.img_project_column {

    margin-top: 32px;
    display: flex;
    justify-content: space-between;
}

.p_item {
    font-size: 32px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    position: absolute;
    top: 64px;
    right: 64px;
}

.p_item_mini {
    font-size: 28px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    position: absolute;
    top: 32px;
    left: 32px;
}

.h1 {
    font-size: 64px;
    font-weight: 300;
    line-height: 74px;
    letter-spacing: 0.04em;
    max-width: 510px;
    margin-bottom: 32px;
}

.p_index {
    max-width: 425px;
}

.p_footer {
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}

.h3,
.contacts,
.button {
    text-align: center;
}

.h3 {
    font-size: 36px;
    font-weight: 300;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #000000;
}

.h3_footer {
    max-width: 340px;
    text-align: left;
    margin-bottom: 32px;
    color: #FFFFFF;
}

.h4 {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.05em;
}

.h4_card {
    margin-top: 51px;
    margin-bottom: 14px;
}

.h4_contacts {
    font-weight: 500;
    letter-spacing: 0.04em;
    color: #1F3F68;
    margin-bottom: 24px;
    padding-top: 40px;
}

.header_contacts_container {
    max-width: 750px;

}

.h2_contacts {
    font-weight: 500;
    font-size: 44px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    line-height: 74px;
    padding-top: 51px;
    text-align: center;
}

.p_header_contacts {
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
    padding-top: 16px;
    padding-bottom: 49px;
}

.img_phone {
    width: 15px;
    height: 15px;
    padding-right: 19px;
}

.li_contacts {
    padding-bottom: 16px;
}

.ul_contacts {
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    list-style-type: none;
}

.a_contacts {
    text-decoration: none;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.04em;
    color: #1F3F68;
}

.contacts_form {
    max-width: 540px;
    padding: 56px 56px;
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
}

.h4_contacts_form {
    margin-bottom: 48px;
    text-transform: uppercase;
}

.p_contacts_form {
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    opacity: 0.8;
    padding-bottom: 8px;
}

.input {
    width: 100%;
    min-height: 72px;
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
    padding-left: 36px;
    padding-right: 36px;
    margin-bottom: 32px;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;

}

.input_textarea {
    resize: none;
    min-height: 144px;
    padding-top: 21px;
}

.input::-webkit-input-placeholder {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    opacity: 0.8;

}

.button {
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 23px 183px;
    border: 0;
    margin-top: 40px;
}

@media (max-width: 1204px) {
    .container {
        margin-left: 32px;
        margin-right: 32px;
    }

    .top_text {
        background-position: right 75%;
        background-size: 47%;

    }

    .Our_Project {
        margin-bottom: 109px;
    }
}

@media (max-width: 1024px) {

    .content {
        flex-direction: column;
        align-items: center;
    }

    .header_contacts {
        margin-bottom: 64px;
        margin-top: 49px;
    }


    .header_contacts_container {
        max-width: 520px;
    }

    .form {
        flex-direction: column;
        align-items: center;
        margin-bottom: 64px;
    }

    .business_card {
        margin-bottom: 64px;
    }

    .card {
        margin-bottom: 32px;
    }

    .Our_Project {
        padding-top: 95px;
    }

    .frame {
        height: 392px;
    }

    .p_project {
        max-width: 520px;
    }

    .footer {
        margin-top: 64px;
    }

    .footer_top,
    .footer_bottom {
        padding-left: 92px;
        padding-right: 92px;
    }

    .footer_text {
        max-width: 340px;
    }

    .footer_href {
        padding: 3px 30px;
    }

    .footer_list {
        flex-direction: column;
    }

    .li {
        margin-bottom: 25px;
        margin-right: 0;
    }

    .li:first-child::before {
        margin-right: 36px;
    }

    .li:nth-child(2)::before {
        margin-right: 36px;
    }

    .li:last-child::before {
        margin-right: 36px;
    }

    .li_text {
        padding-right: 0;
    }

    .p_right {
        margin-top: 39px;
    }
}

@media (max-width: 767px) {

    .top {
        min-height: 376px;
    }

    .top_menu {
        padding-top: 24px;
    }

    .container {
        margin-left: 16px;
        margin-right: 16px;
    }

    .top_text {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: none;
        padding-top: 36px;
        padding-bottom: 41px;
        box-sizing: border-box;
    }

    .h1 {
        width: 80%;
        font-size: 32px;
        line-height: 37px;
        text-align: center;

    }

    .h3 {
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0;
    }

    .p_index {
        width: 100%;
        text-align: center;
    }

    .top_link {
        font-size: 12px;
        margin-top: 32px;
        padding: 3px 15px;
    }

    .what-we-do {
        padding-top: 48px;
    }

    .content {
        padding-top: 32px;
    }

    .arrow {
        margin-left: 14px;
        width: 12px;
        height: 12px;
    }

    .Our_Project {
        padding-top: 32px;
        margin-bottom: 64px;
    }

    .header_contacts {
        margin-bottom: 46px;
        margin-top: 33px;
    }

    .h2_contacts {
        padding-top: 48px;
    }

    .form {
        margin-bottom: 32px;
    }

    .business_card {
        margin-bottom: 32px;
    }

    .contacts_form {
        max-width: 540px;
        padding: 36px 36px;
        margin-left: 16px;
        margin-right: 16px;
    }

    .h4_contacts_form {
        font-size: 16px;
        margin-bottom: 31px;
    }

    .p_contacts_form {
        font-size: 14px;
        padding-bottom: 4px;
    }

    .input {
        min-height: 46px;
        padding-left: 26px;
        padding-right: 26px;
    }

    .input_textarea {
        padding-top: 13px;
        min-height: 92px;
    }

    .input::-webkit-input-placeholder {
        font-size: 14px;
    }

    .button {
        padding: 15px 60px;
        margin-top: 14px;
    }

    .frame {
        height: 349px;
    }

    .p_project {
        max-width: 520px;
        margin: 32px auto 82px;
    }

    .p_item,
    .p_item_mini {
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0;
        top: 16px;

    }

    .p_item {
        right: 16px;
    }

    .p_item_mini {
        left: 16px;
    }

    .img_project_column {
        flex-direction: column;
        margin-top: 0;
    }

    .project_item {
        margin-top: 16px;
    }

    .project_img_left {
        margin-right: 0;
    }

    .footer_top,
    .footer_bottom {
        padding-left: 0px;
        padding-right: 0px;
    }

    .footer_top {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 41px;
    }

    .footer_text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .h3_footer {
        width: 68%;
        text-align: center;
    }

    .p_footer {
        margin-bottom: 40px;
        text-align: center;
    }

    .footer {
        margin-top: 32px;
        padding-top: 16px;
        padding-bottom: 32px;
    }

    .footer_list {
        line-height: 19px;
        margin-top: 32px;
    }

    .li {
        margin-bottom: 17px;
    }

    .li:first-child::before {
        content: '1.';
        margin-right: 23px;
    }

    .li:nth-child(2)::before {
        content: '2.';
        margin-right: 23px;
    }

    .li:last-child::before {
        content: '3.';
        margin-right: 23px;
    }

    .p_right {
        margin-top: 17px;
        text-align: center;
    }
}