@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,100&display=swap');
@import url('null.css');

.center {
    padding: 0 calc(50% - 570px) 0 calc(50% - 570px);
}

/*header
  =======================*/

.header {

    background-color: #222222;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__search-img {
        margin: 0 0 0 41px;
    }

    &__account {
        margin: 0 34px 0 34px;
    }
}

/*promo
  =======================*/

.promo {
    background: linear-gradient(to right, rgba(113, 103, 105, 0.08) 50%, #F1E4E6 50%);
    display: flex;

    &__left {
        width: 50%;
    }

    &__img {
        width: 100%;
        padding-left: calc(50% - 570px);
    }

    &__right {
        width: 50%;
        padding-right: calc(50% - 570px);
    }

    &__content::before {
        content: '';
        width: 12px;
        height: 92px;
        background: #F16D7F;
    }

    &__content {
        height: 100%;
        display: flex;
        align-items: center;
        padding-left: 64px;
    }

    &__content-inner {
        padding: 0 0 0 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__heading {
        font-size: 48px;
        line-height: 58px;
        color: #222;
        text-transform: uppercase;
    }

    &__text {
        font-size: 30px;
        line-height: 36px;
        color: #222;
        font-weight: 900;
        text-transform: uppercase;
    }

    &__rad-text {
        color: #F16D7F;
    }
}

/*catalog
  =======================*/

.catalog {

    display: flex;
    justify-content: space-between;
    padding-top: 64px;


    &__item {
        position: relative;
    }

    &__item:not(:last-child) {
        margin-right: 30px;
    }

    &__content {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__img {
        width: 100%;
    }

    &__text {
        color: rgba(255, 255, 255, 0.8);
        font-size: 16px;
        line-height: 19px;
    }

    &__heading {
        font-size: 25px;
        line-height: 36px;
        font-weight: 600;
        text-transform: uppercase;
        color: #F16D7F;
    }
}

/*catalog-big
  =======================*/

.catalog-big {
    margin: 30px 0 64px 0;

    &__item {
        position: relative;
    }
}

/*breadcrumb
  =======================*/

.breadcrumb {

    height: 148px;
    background: #F8F3F4;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__heading {
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        color: #F16D7F;
        text-transform: uppercase;
    }

    &__link {
        font-family: 'lato', sans-serif;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #636363;
        text-transform: uppercase;
    }

    &__link--active {
        color: #F16D7F;
        font-weight: 600;
    }

    &__link:hover {
        color: #F16D7F;
        font-weight: 600;
    }

    &__link:not(:last-child):after {
        content: '\2002/';
        color: #636363;
    }
}

/*sort-by
  =======================*/

.sort-by {

    display: flex;
    align-items: center;
    height: 119px;

    &__filter {
        width: 390px;
    }

    &__filter-link {
        font-family: 'lato', sans-serif;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
    }

    &__filter-link:after {
        content: url('../img/Filter.svg');
        padding: 0 0 0 10px;
    }

    &__filter-link:hover {
        color: #EF5B70;
    }

    &__filter-link:hover:after {
        content: url('../img/Filter--pink.svg');
    }

    &__sort {
        display: flex;
        width: 560px;
    }

    &__details {
        margin: 0 48px 0 0;
    }

    &__summery:after {
        content: url('../img/sort.svg');
        padding: 0 0 0 10px;
        position: absolute;
        top: -10%;
    }

    &__summery:hover:after {
        content: url('../img/sort--pink.svg');
    }

    &__summery {
        position: relative;
        font-family: 'lato', sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #6F6E6E;
    }

    &__summery::-webkit-details-marker {
        display: none;
    }

    &__summery:hover {
        color: #EF5B70;
    }

    &__size {
        box-sizing: padding-box;
        padding: 9px 30px 9px 9px;
        margin: 5px 0 0 0;
        position: absolute;
        background: #FFFFFF;
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
        z-index: 100;
        display: flex;
        flex-direction: column;
    }

    &__size-box:not(:last-child) {
        margin: 0 0 9px 0;
    }

    &__size-box {
        display: flex;
    }

    &__size-text {
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #6F6E6E;
        margin: 0 0 0 9px;
    }
}

/*products
  =======================*/

.products {

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 14px 0 18px 0;

    &__heading {
        font-weight: 400;
        font-size: 30px;
        line-height: 36px;
        color: #222222;
        margin: 19px 0 6px 0;
    }

    &__heading-text {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #9F9F9F;
        margin: 0 0 48px 0;
        opacity: 0.8;
    }

    &__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__item {
        width: 360px;
        text-align: left;
        background-image: url('../img/products__item-bg.png');
    }

    &__item--mb {
        margin: 0 0 30px 0;
    }

    &__item-inner:hover {
        .products__add {
            opacity: 1;
        }
    }

    &__item-inner {
        position: relative;
    }

    &__img-item {
        width: 100%;
    }

    &__add {
        transition: opacity 0.15s linear;
        opacity: 0;
    }

    &__add-to {
        position: absolute;
        top: calc(50% - 22px);
        left: calc(50% - 70px);
        z-index: 2;
    }

    &__img-add {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;
    }

    &__heading-item {
        display: block;
        font-family: 'lato', sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #000000;
        margin: 24px 0 12px 18px;
    }

    &__text {
        line-height: 19px;
        margin: 0 28px 0 18px;
        opacity: 0.8;
    }

    &__price {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #F16D7F;
        margin: 18px 0 20px 18px;
    }

    &__link {
        font-family: 'lato', sans-serif;
        display: block;
        font-size: 16px;
        line-height: 19px;
        color: #F26376;
        padding: 14px 38px;
        border: 1px solid #FF6A6A;
        transition: 0.15s linear;
    }

    &__link--mb {
        margin: 18px 0 47px 0;
    }

    &__link:hover {
        background-color: #F26376;
        color: #fff;
    }
}

/*switch
  =======================*/

.switch {

    display: flex;
    justify-content: center;
    margin: 0 0 96px 0;

    &__inner {
        border: 1px solid #EBEBEB;
        border-radius: 4px;
        padding: 15px;
    }

    &__link {
        display: inline-block;
        font-family: 'lato', sans-serif;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        color: #5D5D5D;
        opacity: .4;
        transition: .15s linear;

    }

    &__link:hover {
        color: #EF5B70;
        opacity: 1;
    }

    &__link--active {
        color: #EF5B70;
        opacity: 1;
    }


    &__link:not(:nth-last-child(2)) {
        padding: 0 0 0 15px;
    }

    &__link--arrow:not(:first-child) {
        padding: 0 0 0 15px;
    }

    &__img-arrow {
        margin: 0 0 -1px 0;
    }

    &__img-arrow--left:hover {
        content: url(../img/arrow__left--pink.svg);
    }

    &__img-arrow--right:hover {
        content: url(../img/arrow__right--pink.svg);
    }

    &__ellipsis-span {
        font-family: 'lato', sans-serif;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        color: #5D5D5D;
        opacity: .4;
    }
}


/*feature
  =======================*/

.feature {

    background: #222224;
    display: flex;
    justify-content: space-around;
    height: 341px;
    align-items: center;

    &__item {
        text-align: center;
    }

    &__img {
        margin: 0 0 28px 0;
    }

    &__heading {
        font-weight: 600;
        font-size: 19.96px;
        line-height: 24px;
        color: #FBFBFB;
        margin: 0 0 16px 0;
    }

    &__text {
        font-size: 14px;
        line-height: 17px;
    }
}

/*Subscribe
  =======================*/

.Subscribe {

    background-color: rgba(244, 244, 244, 0.7);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 448px;
    background-image: url('../img/Subscribe.png');
    background-position: center;
    background-repeat: no-repeat;

    &__info {
        width: 360px;
        text-align: center;
    }

    &__img {
        margin: 0 0 30px 0;
    }

    &__text {
        font-size: 20px;
        line-height: 24px;
        color: #222224;
    }

    &__form {
        width: 557px;
        text-align: center;
    }

    &__heading {
        font-size: 24px;
        line-height: 167.2%;
        text-transform: uppercase;
    }

    &__text-form {
        color: #222224;
        font-size: 18px;
        text-transform: uppercase;
        line-height: 167.2%;
        margin: 0 0 32px 0;
    }

    &__form-input {
        display: flex;
        justify-content: center;
    }

    &__input {
        width: 256px;
        height: 49px;
        background: #E1E1E1;
        border-radius: 25px 0 0 25px;
        padding: 0 20px 0 20px;
    }

    &__button {
        width: 100px;
        background: #F16D7F;
        height: 49px;
        display: block;
        border-radius: 0 25px 25px 0;
        font-family: 'lato', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgba(255, 255, 255, 0.8);
        transition: 0.15s linear;
    }

    &__button:hover {
        background: #E05C6E;
    }

}

/*footer
  =======================*/

.footer {

    height: 79px;
    background: #222224;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__text {
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        color: rgba(251, 251, 251, 0.8)
    }

    &__social-icon {
        display: flex;
    }

    &__link:not(:last-child) {
        margin: 0 7px 0 0;
    }

    &__link {
        display: block;
        width: 32px;
        height: 32px;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.15s linear;
    }

    &__facebook:hover {
        background: #F16D7F;

        .footer__img {
            content: url('../img/facebook-white.svg');
        }
    }

    &__instagram:hover {
        background: #F16D7F;

        .footer__img {
            content: url('../img/instagram-white.svg');
        }
    }

    &__pinterest:hover {
        background: #F16D7F;

        .footer__img {
            content: url('../img/pinterest-white.svg');
        }
    }

    &__twitter:hover {
        background: #F16D7F;

        .footer__img {
            content: url('../img/twitter-white.svg');
        }
    }
}